* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: url(./assets/bg.png) no-repeat center top/cover;
  height: 100svh;
  width: 100svw;
  display: flex;
  justify-content: center;
  align-items: center;
}
